html
    {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    }

a
    {
    text-decoration: none;
    color: black;
    }

header
    {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    }

main
    {
    position: relative;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    height: 80%;
    margin-top: 10%;
    }

footer
    {
    background-color: #E5CFF7 ;
    width: 100%;
    height: 25em;
    display: flex;
    align-items: end;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    padding-right: 0;
    }

body
    {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    }



#body
    {
    background-color:#713ABE;
    
    }

.text
    {
    color: #000;
    font-size: 140%;
    flex-shrink: 0;
    text-align: justify;
    }

.nav
    {
    width: 90%;
    height: 15%;
    display: flex;
    background-color: #5B0888;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    margin-left: 5%;
    margin-top: 2%;
    opacity: 0.7;
    border-radius: 1em;
    
    }

#img_logo
    {
    width: 20%;
    border-radius: 50%;
    transition: ease 0.5s;
    opacity: 1;
    }

#img_logo:hover
    {
    transition: ease 0.5s;
    transform: scale(1.2);
    }



.boton
    {
    color: black;
    font-size: 150%;
    text-decoration: none;
    padding: 1%;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.5s;
    
    }


.boton:hover
    {
    border-radius: 3em;
    box-shadow: 0 10 10 0 black;
    background-color: #9D76C1;
    }



.portada
    {
    width: 70%;
    background-color: #9D76C1;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 6%;
    border-radius: 2em;
    padding: 1%;
    }

 #pnguade
    {
    width: 50%;
    }

 #seccion
    {
    width: 100%;
    position: relative;
    margin-top: 0%;
    }

#foto_roch
    {
    
    width: 100%;
    height: 30em;
    object-fit: cover;
    }