html
    {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    }
a
    {
    text-decoration: none;
    color: whitesmoke;
    }

header
    {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    }

main
    {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 80%;
    }

body
    {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color:#E5CFF7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }


#integrantes
    {
    font-size: 1.3rem;
    }

.text
    {
    color: #000;
    font-size: 140%;
    flex-shrink: 0;
    text-align: left;
    }

.nav
    {
    width: 90%;
    height: 15%;
    display: flex;
    background-color: rgba(91, 8, 136, 0.9);
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 1em;
    }

.boton
    {
    color: black;
    font-size: 150%;
    text-decoration: none;
    padding: 1.2%;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.3s;
    background-color: #9D76C1;
    border-radius: 10em;
    }

.boton:hover
    {
    box-shadow: 0 10 10 0 black;
    background-color: #9D76C1;
    transition: ease 0.3s;
    transform: scale(1.1);
    }

.portada
    {
    position: absolute;
    top: 50%;
    width: 70%;
    font-size: 200%;
    justify-content: start;
    left: 15%;
    margin-top: 6%;
    border-radius: 2em;
    padding: 1%;
    transform: translateY(-50%);
    }
    
.veni
    {
    position: absolute;
    top: 40%;
    width: 70%;
    align-items: center;
    justify-content: center;
    left: 15%;
    margin-top: 6%;
    border-radius: 2em;
    padding: 1%;
    transform: translateY(-50%);
    border-color: #713ABE;
    }

.textveni
    {
    color: white;
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: 100%;
    border-color: #000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.textvenimain
    {
    color: #713ABE;
    font-size: 3rem;
    }

.venimain
    {
    margin-top: 9%;
    margin-left: 10%;
    }

.foto-item
    {
    padding: 2%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 3em;
    height: 45%;
    }

    /*el muy negro de mierda (img) toma la propiedad width del puto padre, y me rompe las pelotas
    pero, el height lo toma del puto children, entonces, por que no se pone de acuerdo 
    el hijo de mil puta, increible (.foto-item(class)) (.fotos(padre))*/

.main_1
    {
    padding: 1%;
    display: flex;
    gap: 5rem;
    }

.fotos{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.main_2
    {
    padding: 1%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    margin-bottom: 1%;
    }

.texto_main_1
    {
    padding: 2%;
    background-color: rgba(157, 118, 193, 0.9);
    border-radius: 2em;
    align-self: center;
    box-shadow: 0 0 10px #000;
    font-size: 180%;
    }

.infor2
    {
    display:flex;
    justify-content: flex-end;
    color: white;
    font-size: 4rem;
    line-height: 100%;
    margin-top: 10%;
    border-color: #000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.img1
    {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    }

.img2
    {
    display: flex;
    align-items: center;
    flex-direction: column;
    }

#texto
    {
    width: auto;
    font-size: 2rem;
    color: #713ABE;
    text-align: center;
  
    }

.invitamos
    {
    text-align: center;
    }

#fotoB
    {
    border-radius: 50em;
    display: block;
    transition: ease 0.5s;
    }

#fotoB:hover
    {
    transform: scale(1.2);
    transition: ease 0.5s;
    }

#fotoL
    {
    margin-left: 28%;
    width: 44%;
    border-radius: 100em;
    display: block;
    transition: ease 0.5s;
    }

#fotoL:hover
    {
    transform: scale(1.2);
    transition: ease 0.5s;
    }

#pnguade
    {
    width: 50%;
    }

#seccion
    {
    width: 100%;
    position: relative;
    margin-top: 0%;
    }
    
#seccioneventos
    {
    width: 100%;
    position: relative;
    margin-top: 0%;
    }   

#seccioncolabora
    {
    width: 100%;
    position: relative;
    margin-top: 10%;
    }  

#foto_roch
    {
    width: 100%;
    height: 30em;
    object-fit: cover;
    }

#foto_roch2
    {
    width: 40%;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
    transition: ease 0.3s;
    z-index: 998;
    }

#fotochala
    {
    width: 40%;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
    transition: ease-in-out 0.3s;
    z-index: 998;
    margin-left: 2%;
    position: relative;
    }

#fotosumate
    {
    width: 45%;
    height: 30%;
    object-fit: cover;
    border-radius: 2em;
    transition: ease-in-out 0.3s;
    z-index: 998;
    margin-left: 2%;
    position: relative;
    margin-top: 10%;
    }
    
#fotochala:hover
    {
    box-shadow: 0 0 10px rgb(158, 152, 152);
    transform: scale(1.1);
    border-radius: 2em;
    }

#fotochala:hover::before 
    {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 1em;
    }

#fotochala:hover + .venimain 
    {
    opacity: 1; 
    }

#foto_roch2:hover
    {
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
    border-radius: 2em;
    }

#foto_chala:hover
    {
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
    border-radius: 2em;
    }

#refunkiadosfoto
    {
    width: 100%;
    height: 30em;
    object-fit: cover;
    }
    
#img_logo
    {
    width: 20%;
    border-radius: 50%;
    transition: ease 0.3s;
    opacity: 1;
    }

#img_logo:hover
    {
    transition: ease 0.3s;
    transform: scale(1.2);
    }

 #eventosfoto
    {
    width: 100%;
    height: 30em;
    object-fit: cover;
    }

.nav-list
    {
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
    }

.abrir-menu,
.cerrar-menu
    {
    display: none;
    }
    


    /*QUERY MENÚ HAMBURGUESA*/      

    @media screen and (max-width: 700px) {
        header
        {
        display: flex;
        background-color:  rgba(91, 8, 136, 0.9);
        justify-content: center;
        align-items: center;
        
        }

        .nav 
        {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        justify-content: center;
        position: absolute;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        top: 0;
        width: 100%;
        height: auto;
        align-items: center;
        margin-left: 0;
        
        }

    .nav-list
        {
        flex-direction: column;
        padding: 0;
        
        }
    .boton
        {
        border-radius: 0;
        background-color: rgba(0, 0, 0, .0);
        padding: 3%;
        }

    .boton:hover
        {
        border-radius: 1em;
        }
    .nav.visible
        {
        opacity: 1;
        visibility: visible;
        }
    
    .abrir-menu,
    .cerrar-menu
        {
        display: block;
        }
    }



/*QUERY RESPONSIVE*/

    @media screen and (max-width: 700px) {
        header {
          display: flex;
          background-color:  rgba(91, 8, 136, 0.9);
          justify-content: center;
          align-items: center;
        }
      
        .nav {
          margin-top: 0;
          display: flex;
          flex-direction: column;
          opacity: 0;
          visibility: hidden;
          justify-content: center;
          position: absolute;
          box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
          top: 0;
          width: 100%;
          height: auto;
          align-items: center;
          margin-left: 0;
        }
      
        .nav-list {
          flex-direction: column;
          padding: 0;
        }
      
        .boton {
          border-radius: 0;
          background-color: rgba(0, 0, 0, .0);
          padding: 3%;
        }
      
        .boton:hover {
          border-radius: 1em;
        }
      
        .nav.visible {
          opacity: 1;
          visibility: visible;
        }
      
        .abrir-menu,
        .cerrar-menu {
          display: block;
        }

        .main_1
            {
            flex-direction: column;
            align-items: center;
            }

        .main_2
            {
            flex-direction: column;
            align-items: center;
            }

        .texto_main_1
            {
            margin: 0;
            margin-bottom: 1%;
            }

        #foto_roch2
            {
            margin-top: 4%;
            width: 80%;
            }
       
        .textvenimain
            {
            font-size: 200%;
            margin-top: 0;
            text-align: center;
            }

        .venimain
            {
            margin: 0;
            }

        .footer-links ul
            {
            display: flex;
            flex-direction: column;
            }

        #fotochala
            {
            margin-top: 3%;
            width: 60%;
            }

        #fotosumate
            {
            width: 80%;
            }
      }





/*FOOTER*/

.footer-container 
    {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
        
.footer-logo img 
    {
    width: 10rem; 
    margin-right: 10px;
    }
        
.footer-links ul 
    {
    list-style: none;
    padding: 0;
    margin: 0;
    }
        
.footer-links li
     {
    display: inline;
    margin-right: 20px;
    }
        
.footer-links a 
    {
    text-decoration: none;
    color: white;
    }
        
.footer-contact p 
    {
    margin: 0;
    }

footer
    {
    background-color: #333;
    color: white;
    height: 11rem;
    display: flex;
    justify-content: space-around;
    }



/*FORMULARIO*/
    
#formulario-section 
    {
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    
form
    {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    }
    
label
    {
    margin-top: 10px;
    }
    
input,textarea 
    {
    margin-bottom: 10px;
    padding: 8px;
    }
    
button 
    {
    background-color: #713ABE;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    }
    
button:hover 
    {
    background-color: #9D76C1;
    }



    /* QUINES SOMOS*/

#quienes-somos {
    max-width: 80%;
    margin: 6% auto;
    padding: 5%;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #713ABE;
}

p {
    line-height: 1.5;
}

.objetivos {
    margin-top: 5%;
}

.desafios, .vision {
    margin-top: 5%;
}

.desafios p, .vision p {
    margin-bottom: 2%;
}

.imagen
    {
    width: 30%;
    padding: 1.4%;
    }